nav#nav-bar


  h1
    a(class='goHomeBang' href='/') Bangazon! 

  h3
    a(class='myProducts' href='/my-products') My Products

  h4 
    a(class='cart' href='/orderdetail') Cart

  h5
    if session.passport
      span #{session.passport.user.username}
      form(method="POST")
        <br>
          button(type="submit" formaction="/logout") logout