form#productNew(name="productNew" action="/productAdd", method="post")
    label(for="name") Product Name
    input(type="text" placeholder="name" name="name")
    label(for="description") Description
    input(type="text" placeholder="description" name="description")
    label(for="price") Price
    input(type="text" placeholder="price" name="price")
    label(for="quantity") Quantity
    input(type="text" placeholder="quantity" name="quantity")
    label(for="productTypeId") Product Type
    input(type="text" placeholder="productTypeId" name="productTypeId")
    button(type="submit" value="Submit") Submit

