extends order.pug
//- need to change extend to currentOrder.pug to allow user to select payment type on order

block content
  form#addPayment(name="addPaymentType" method="post" action="/paymentTypes")
    label(for="name") Visa, MC, Amex....
    input.text(id="name" name="name" type="text")
    label(for="acct_num") Card Number....
    input.text(name="acct_num" type="number")
    input.btn(id="addCard" type="submit" value="Add Payment")
    