doctype html
html
  head
    title Bangazon!
  body
    include partials/nav.pug

  block content
    h1 Welcome to Bangazon!
    button#showLogin login
    button#showRegister register
    


    script    //- temp form
      include ../client/client.js
