extends index.pug

block content

  h1 This is the product page
  p #{product.name}
  button#addToOrder Add Product to Order

  
  script(src="https://code.jquery.com/jquery-3.2.1.min.js"
              integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
              crossorigin="anonymous")
  script
    include ../client/orderProductClient.js
