extends index.pug

block content
  .welcome-text
    if messages.registerMsg
      h1= messages.registerMsg
    else
      //- careful about flash messages. They go away when page refreshes...
      h1 #{messages.welcomeBackMsg} #{session.passport.user.first_name}
      //- This would be more permanent
      //- h1 Welcome back, #{session.passport.user.first_name}
    form#addPayment(name="addPaymentType" method="post" action="/paymentTypesc")
      label(for="name") Visa, MC, Amex....
      input.text(id="name" name="name" type="text")
      label(for="acct_num") Card Number....
      input.text(name="acct_num" type="number")
      input.btn(type="submit" value="Add Payment")