extends index.pug

block content

  h1 All Products  

  each product in products
    ul
      h3
        a(href=`/products/${product.id}`) #{product.name} 
      p Qauntity: #{product.quantity}
      p $#{product.price}

  button#showProductForm Add New Product
  button#addPayment Pay With New Card
  button#showUserProducts My Products
    script
      include ../client/clientAddPayment.js